<div class="schools-page" dir="rtl">
  <div class="header-bar">
    <h1>المدارس المتضررة</h1>
    <button class="add-btn" (click)="addSchool()">➕ إضافة مدرسة جديدة</button>
  </div>

  <!-- فلاتر وبحث -->
  <div class="filters-card">
    <div class="filter-item">
      <label>اختر المحافظة:</label>
      <select [(ngModel)]="selectedGovernorateId" (change)="onProvinceChange(); onSearchChange()">
        <option value="" selected> كل المدراس </option>
        <option *ngFor="let govern of governorates" [value]="govern.governorateId">{{ govern.nameAr }}</option>
      </select>
    </div>
    <div class="filter-item">
      <label>بحث:</label>
      <input type="text" [(ngModel)]="searchTerm" (input)="onSearchChange()" placeholder="اسم المدرسة أو المدينة..." />
    </div>
  </div>

  <!-- عرض المدارس -->
  <div class="schools-grid" *ngIf="filteredSchools.length > 0">
    <div class="school-card" *ngFor="let school of filteredSchools">
      <div class="image-wrapper">
        <img [src]="school.imageSrc" alt="صورة المدرسة" />
      </div>
      <div class="card-content">
        <h3>{{ school.nameAr }}</h3>
        <p class="location">
          <mat-icon aria-hidden="true" class="icon">place</mat-icon>
          <span>{{ school.governortesName }} - {{ school.city }}</span>
        </p>
        <div class="needs">
          <p>اللوازم المطلوبة:</p>
          <ul>
            <li *ngFor="let item of school.needs | slice:0:3">{{ item }}</li>
            <span *ngIf="school.needs.length > 3">...</span>
          </ul>
        </div>
        <div class="option-cont">
          <button class="details-btn" (click)="goToDetails(school.schoolId)">عرض التفاصيل</button>
          <div class="icons">
            <button class="edit" (click)="updateSchool(school.schoolId)">تعديل</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p *ngIf="filteredSchools.length === 0" class="no-results">لا توجد نتائج مطابقة.</p>
</div>