.governorates{
    padding: 50px;
}
.governorate-card {
    transition: all 0.3s ease;
    border-radius: 12px;
    background-color: #fff;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    .card-title {
        font-weight: 600;
        font-size: 17px;
    }

    .card-text {
        font-size: 12px;
        color: #555;
    }
}