<div class="profile-page">
    @if (user) {

    <div class="profile-card">
        <div class="profile-header">
            <div class="profile-avatar">
                <div class="avatar-text">
                    <img [src]="user.imageSrc" alt="">
                </div>
            </div>
            <h2>{{ user.fullName }}</h2>
            <p class="username">{{ user.username }}</p>
        </div>

        <div class="profile-details">
            <p class="email">{{ user.email }}</p>
            <p class="role-title">الأدوار</p>
            <p class="role">{{ user.role }}</p>
        </div>

        <div class="profile-links">
            <button (click)="editProfile()">
                <mat-icon>edit</mat-icon>
                تعديل الملف الشخصي
            </button>
            <button class="secondary" (click)="changePassword()">
                <mat-icon>lock</mat-icon>
                تغيير كلمة المرور
            </button>
        </div>
    </div>

    <div class="permissions-table">
        <h3>المدارس المضافة</h3>
        <table>
            <thead>
                <tr>
                    <th>المحافظة</th>
                    <th>المدينة</th>
                    <th>اسم المدرسة</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let school of user.schools">
                    <td>{{ school.governorateName }}</td>
                    <td>{{ school.cityName }}</td>
                    <td>{{ school.schoolName }}</td>
                </tr>

            </tbody>
        </table>
    </div>
    }

</div>