<div class="home-page" dir="rtl">
  <!-- Hero Section -->
  <section class="hero">
    <div class="overlay">
      <h1>نبراس - لنضيء طريق التعليم من جديد</h1>
      <p>منصة لعرض المدارس المتضررة واحتياجاتها بدقة وشفافية</p>
    </div>
  </section>

  <!-- School Categories -->
  <section class="explore-section">
    <h2>استعرض المدارس حسب المحافظة</h2>
    <button class="explore-button" (click)="redirctToSchools()">ابدأ التصفح</button>
  </section>

  <section class="schools-section" dir="rtl">
    <h2>إحصائيات المدارس</h2>
    <div class="chart-container">
      <canvas id="schoolsChart"></canvas>
    </div>
  </section>

  <!-- Sample Schools -->
  <!-- <section class="schools-section">
    <h2>بعض المدارس المتضررة</h2>
    <div class="schools-list">
      <div class="school-card" *ngFor="let school of sampleSchools">
        <img [src]="school.image" alt="صورة المدرسة" />
        <h3>{{ school.name }}</h3>
        <p>المحافظة: {{ school.province }}</p>
        <p>المدينة: {{ school.city }}</p>
        <p>اللوازم المطلوبة:</p>
        <ul>
          <li *ngFor="let item of school.needs">{{ item }}</li>
        </ul>
        <button>عرض التفاصيل</button>
      </div>
    </div>
  </section> -->
</div>