<nav class="sidebar" [ngStyle]="{'width':sidebarClosed?'50px':'220px','padding': sidebarClosed?'12px':'20px'}">
  <ul>
    <div *ngFor="let item of menuItems">
      <li *ngIf="!item.onlyAdmin || (item.onlyAdmin && userRole === 'admin')"
        [ngStyle]="{'padding': sidebarClosed ? '10px 0px' : '11px 10px' ,'background':sidebarClosed?'#FFFFFF':'#F0F0F0'}"
        class="item" [routerLink]="item.route" routerLinkActive="active">
        <span class="material-icons" (click)="sideBar()">{{ item.icon }}</span>
        <a *ngIf="!sidebarClosed">{{ item.label }}</a>
      </li>
    </div>

    <li [ngStyle]="{'padding':sidebarClosed? '10px 0px':'padding: 11px 10px;','right':sidebarClosed?'15px':'182px'}"
      class="arrow-icon">
      <span class="material-icons icon" *ngIf="!sidebarClosed" (click)="sideBar()">keyboard_double_arrow_right</span>
      <span class="material-icons icon" *ngIf="sidebarClosed" (click)="sideBar()">keyboard_double_arrow_left</span>
    </li>
  </ul>
</nav>