.sidebar {
  width: 220px;
  background-color: #FFFFFF;
  height: 92vh;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 52px;
  right: 0;
  direction: rtl;

  .material-icons {
    color: #6b7280;
    transition: color .2s ease, transform .06s ease;
    font-size: 22px;
    line-height: 1;
  }

  .item:hover .material-icons {
    color: #91c386;
  }

  .item.active .material-icons {
    color: #3ca16f;
  }
 
  .arrow-icon .material-icons {
    color: #6b7280;
  }
  .arrow-icon:hover .material-icons {
    color: #3ca16f;
  }
}

.sidebar ul {
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
  display: flex;
  justify-content: start;
  padding: 11px 10px;
  align-items: center;
  width: 100%;
  border-radius: 11px;
}

.item {
  background: #F0F0F0;
  cursor: pointer;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.sidebar ul li a {
  padding-right: 9px;
}

.arrow-icon {
  padding: 10px 0px;
  position: absolute;
  bottom: -8px;
}

.icon {
  cursor: pointer;
}