<div class="popup">
    <h1 mat-dialog-title class="popup-head ">
        <p class="popup-title">
            {{'inputDialogData.title'}}
        </p>
        <a (click)="closeDialog()" class="close-popup">
            <span class="material-icons close-icon">
                close
            </span>
        </a>
    </h1>
    <div mat-dialog-content>
        <form [formGroup]="userForm" (ngSubmit)="formData(userForm)">
            <!-- Old Password -->
            <div class="form-input">
                <label for="oldPassword">Old Password <span class="required">*</span></label>
                <input type="password" class="input" placeholder="Enter old password" formControlName="oldPassword"
                    (blur)="validPassword()">
                <div class="error-icon-wrapper"
                    *ngIf="userForm.get('oldPassword')?.invalid && (userForm.get('oldPassword')?.dirty || userForm.get('oldPassword')?.touched)">
                    <span matTooltip="Please enter your old password" [matTooltipPosition]="'left'"
                        class="material-icons error-icon icon">
                        error
                    </span>
                </div>
            </div>

            <!-- New Password -->
            <div class="form-input">
                <label for="newPassword">New Password <span class="required">*</span></label>
                <input type="password" class="input" placeholder="Enter new password" formControlName="newPassword">
                <div class="error-icon-wrapper"
                    *ngIf="userForm.get('newPassword')?.invalid && (userForm.get('newPassword')?.dirty || userForm.get('newPassword')?.touched)">
                    <span matTooltip="Please enter a new password" [matTooltipPosition]="'left'"
                        class="material-icons error-icon icon">
                        error
                    </span>
                </div>
            </div>

            <!-- Confirm Password -->
            <div class="form-input">
                <label for="confirmPassword">Confirm Password <span class="required">*</span></label>
                <input type="password" class="input" placeholder="Confirm new password"
                    formControlName="confirmPassword">
                <div class="error-icon-wrapper"
                    *ngIf="userForm.get('confirmPassword')?.invalid && (userForm.get('confirmPassword')?.dirty || userForm.get('confirmPassword')?.touched)">
                    <span matTooltip="Please confirm your new password" [matTooltipPosition]="'left'"
                        class="material-icons error-icon icon">
                        error
                    </span>
                </div>
            </div>
            <button type="submit" [disabled]="userForm.invalid">Save</button>
        </form>
    </div>
</div>